<h3>Steven Rockarts</h3>

@model Url

<div>
    <h2>URL Shortner</h2>
    <form class="form-horizontal" asp-controller="Shortner" asp-action="Shorten" method="post">
        <input class="form-control" asp-for="LongURL" />
        <button class="btn" type="submit">Shorten</button>
    </form>
</div>